/vendor/
/.phpunit.cache
/node_modules
npm-debug.log
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
yarn-error.log
/.fleet
/.idea
/.vscode
php_errors.log

#assets
public/css
public/fonts
public/js
public/mix-manifest.json
